body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
  outline: none;
}

.TodoApp {
  max-width: 600px;
  margin: auto;
  border: 1px solid #ddd;
}

@media (min-width: 620px) {
  .TodoApp {
    margin: 2em auto;
  }
}

.AddNewTodoForm,
.TodoItem {
  display: flex;
  font-size: 1.5em;
}

.AddNewTodoForm {
  border-bottom: 1px solid #ddd;
}

.AddNewTodoForm input,
.TodoText {
  flex-grow: 1;
  margin: 0;
  padding: 0.5em 0.7em;
  outline: none;
  color: #333;
}

.AddNewTodoForm input {
  border-right: 1px solid #ddd;
  min-width: 5em;
}

.AddNewTodoForm button,
.TodoRemoveButton,
.TodoDoneCheckbox {
  padding: 0.3em 0.5em;
  font-size: 1.3em;
  cursor: pointer;
  transition: color 0.2s;
}

.AddNewTodoForm button {
  color: #8b8;
}

.AddNewTodoForm button:hover {
  color: #696;
}

.TodoList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.TodoItem {
  display: flex;
}

.TodoDoneCheckbox {
  color: #ded;
  transition: color 0.2s;
}

.TodoDoneCheckbox:hover {
  color: #cdc;
}

.TodoItem.isDone .TodoDoneCheckbox {
  color: #7a7;
}

.TodoText {
  margin: 0;
  padding: 0.8em 0.2em;
  font-size: 0.8em;
}

.TodoItem.isDone .TodoText {
  text-decoration: line-through #a77;
}

.TodoRemoveButton {
  padding: 0.7em 1.1em;
  font-size: 0.8em;
  color: #f77;
}

.TodoRemoveButton:hover {
  color: #a33;
}

.EmptyTodoMessage {
  padding: 0 1em;
  color: #a33;
  font-size: 1.3em;
}